.wrapper {
  width: 100%;
  padding-top: 20px;
  position: sticky;
  top:0;
  z-index: 9999;
  position: absolute;

}
.navbar {
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-items {
  color: #dedede;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.social-icon-link {
  color: #dedede;
  font-size: 2rem;
  margin-left: 1rem;
}
